body {
    font-family: "Outfit";
    padding:50px;

    display:flex; 
    flex-direction: column;
    gap:30px;
}

#card-container{
    background-color: yellow;
    padding:10px 20px;
    border-radius:16px;
    width:350;
}

a{
    padding:5px 15px;
    text-decoration: none;
    background-color: yellow;
    color:black;
}


#card-container {
  display:flex; 
  flex-direction: column;
  gap:10px;
  
}

#task-lists p{
    font-weight:600;
    margin-bottom:0px;
    padding-bottom:0px;
}

#task-lists {
    margin-top:0px; 
    margin-bottom:0px;
    padding:0px;
}

#task-lists ul{
    margin-top:0px;
    padding-top:0px;
}

